$mainYellow: #ffcc66;
$mainBrown: #39312F;

body {
	height: 100vh;
}

.container {
	overflow: hidden;
  	padding-left: 18px;
  	padding-right: 18px;
  	max-width: 1850px;
  	margin-left: auto;
  	margin-right: auto;

}