/*----------------
Hero Section
----------------*/
.hero {
	position: relative;
	background-image: url('../images/main-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 90vh;
}
.hero_content {
	position: absolute;
	top: 50%;
	left: auto;
	transform: translateY(-50%);
}
.hero_content-title {
	font-family: 'Playfair Display', serif;
	font-size: 3.5rem;
	font-weight: 700;
	color: #F6D76C;
	letter-spacing: 2;
	padding: 0;
	margin: 0;
}
.hero_content-desc {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 1;
	color: #fff;
	max-width: 550px;
	padding-left: 10px;
	padding-right: 10px;
}
.hero_content-btn {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	padding: 15px 50px;
	margin-top: 25px;
	cursor: pointer;
}
.hero_content-btn:hover {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #000;
	background: #ffcc66;
	border: 2px solid #000;
	padding: 15px 50px;
	transition: all .4s ease-in;	
}

/*Media Query Mixins*/

@mixin at576 {

}
@mixin at768 {
.hero_content {
	transform: translate( 10%, -30%);
}
}
@mixin at992 {
.hero_content {
	transform: translate( 10%, -30%);
}
}
@mixin at1200 {
.hero_content {
	transform: translate( 50%, -30%);
}
}
